.modal-preview-contracts {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: goldenrod;
  input {
    width: calc(1ch * var(--number-of-chars) + 2ch);
  }
  .close {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: yellow;
    padding: 4px;
  }
  .add {
    position: absolute;

    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background-color: red;
    padding: 7px;
  }
}
