@use "../../sass/" as *;
.modal {
  &-backdrop {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  &-content {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: turquoise;
      color: $black;
      font-size: 25px;
      .button {
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }
  @include tablet {
    &-content {
      &-header {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  @include mobile {
    &-content {
      &-header {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
