.modal {
  &-backdrop {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  &-content {
    &-header {
      display: flex;
      justify-content: space-between;
      background-color: #04db5e;
    }
  }
}
