$main-color: #d13535;
$main-pink: #cc00ff;
$main-purple: #7000ff;
$second-color: #f2f218;
$third-color: #3770ab;
$fourth-color: #12223d;
$white: #fff;
$black: #000;

$body-bg: #b7c4d7;
$main-green: #0ce3ce;
$main-blue: #0800ff;

$txt: #413939;

$header-height: 9.5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Roboto", sans-serif;
