@use "../../sass/" as *;

.debt-contract-search {
  .idContract,
  .secretary,
  .notary,
  .search-title-date-from,
  .search-title-date-to {
    display: none;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  .search-title {
  }
  .search-content {
    flex-grow: 1;
    width: 98%;
    overflow: auto;
    margin: 15px 0;
  }
}
