@use "../../sass/" as *;

.manage {
  &-body {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    height: 100%;
    &-left {
      display: flex;
      &-icons {
        border-right: 3px solid $third-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        align-items: center;
        .icons-top {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 5px;
          &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
              cursor: pointer;
            }
            .active {
              position: absolute;
              top: 0;
              left: -4px;
              width: 2px;
              height: 100%;
              background-color: $white;
            }
            .tool-tip {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              background-color: crimson;
              white-space: nowrap;
              padding: 8px 20px;
              left: calc(100% + 5px);
              border: 2px solid seagreen;
              z-index: 0;
              &::before,
              &::after {
                content: "";
                width: 22px;
                height: 22px;
                background-color: seagreen;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-10%, -50%) rotate(45deg);
                z-index: -1;
              }
              &::after {
                left: calc(0% + 2px);
                width: 21px;
                background-color: red;
                z-index: 1;
              }
            }
          }
        }
        .icons-bottom {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 10px;
          &-item {
            position: relative;
            &:hover {
              cursor: pointer;
              outline: 2px dotted #e15606;
              outline-offset: 4px;
              transform: scale(1);
            }
          }
        }
      }
      &-extend {
        border-right: 3px solid $third-color;
      }
    }
  }
  &-right {
    width: 100%;
    height: 100%;
  }
}
