.mapouter {
  position: relative;
  text-align: right;
  height: 84vh;
  width: 96vw;
  .gmap_canvas {
    height: 100%;
    width: 100%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
