.user-info {
  position: absolute;
  bottom: -3px;
  left: 100%;
  margin-left: 13px;
  background-color: #f1e5e5;
  min-width: 250px;
  //   height: 40px;
  color: black;
  font-weight: 600;
  :not(:last-child) {
    border-bottom: 1px solid gray;
  }
  &:hover {
    outline: 1px solid red;
  }
  cursor: default;
  &-username {
    position: relative;
    .sign-out {
      position: absolute;
      top: 0;
      left: 100%;
      background: wheat;
      width: 80px;
      cursor: pointer;
      padding: 10px;
    }
  }
}
