@use "../../sass/" as *;
.manager {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #0281f7;
    // background-color: red;
    text-align: center;
    // font-size: 20px;
    font-weight: 700;
  }
}
