@use "../../sass/" as *;
table,
th,
td {
  border: 1px solid wheat;
  // max-width: 950px;
}
thead {
  tr {
    &:hover {
      background-color: transparent;
    }
    th {
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
}
tbody {
  tr {
    &:hover {
      background-color: gray;
    }
    &:active {
      background-color: green;
    }
    &.active-tr {
      background-color: red;
      color: yellow;
      outline: 1px blue solid;
    }
  }
}
td {
  text-align: center;
}
.contract-detail {
  display: none;
  position: fixed;
}
