table,
th,
td {
  border: 1px solid wheat;
  max-width: 950px;
}
thead {
  tr {
    &:hover {
      background-color: transparent;
    }
  }
}
tbody {
  tr {
    &:hover {
      background-color: gray;
    }
    &:active {
      background-color: green;
    }
  }
}
td {
  text-align: center;
}
